@charset "utf-8";

* {
    margin: 0 auto;
    border: none;
    text-decoration: none;
    font-family: "HY울릉도M";
    text-align: center;
}

ul,
li {
    list-style-type: none;
    font-family: "HY울릉도M";
    font-size: 17px;
    padding: 5px;
    text-align: left;
}

li:nth-of-type(1) {
    font-size: 22px;
    padding: 8px 0;
    font-weight: bold;
}

#researchstudy,
#map,
#around_map,
header,
footer {
    width: 100%;
}

button {
    background: none;
    cursor: pointer;
}

a,
img {
    color: aliceblue;
    cursor: pointer;
}


#main {
    width: 100%;
    height: 680px;
}

#main img {
    width: 100%;
    height: 100%;
}

/* #main .m_button {
    width: 100%;
    height: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
} */

h3 {
    letter-spacing: 15px;
    padding: 120px 0px;
    font-size: 35px;
    color: #163073;
    margin-top: 110px;
}

h3>img {
    width: 29px;
    height: 29px;
    padding: 0 22px;
}

.see {
    margin: 0;
    right: 0;
    font-size: 22px;
    text-align: right;
    padding: 25px 50px 20px 0px;
}

.see a {
    width: 160px;
    color: #0F0FA4;
    padding: 11px 3px 2px 3px;
    text-align: right;
    text-decoration: underline gold 3px;
}

.see a:hover {

    background-color: gold;
    color: aliceblue;
}


#title_box {
    width: 950px;
    height: 100%;
    display: flex;
    margin-top: -35px;
    box-shadow: 8px 4px 10px 1px rgb(201, 201, 201);
    background-color: aliceblue;
}

#title_box1 p {
    font-size: 35px;
    padding: 5px;
    letter-spacing: 10px;
    width: 125px;


}

#title_box1>p:nth-of-type(2) {
    font-family: "함초롬바탕 확장";
    font-size: 14px;
    letter-spacing: 3px;
    cursor: pointer;
    width: 520px;
    margin-left: -20px;
    margin-top: 13px;
}

#title_box1 {
    width: 800px;
    height: 108px;
    background-color: aliceblue;
    color: #163073;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.B_box {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 150px;
    height: 108px;
    background-color: rgb(1, 2, 36);
    color: aliceblue;
    cursor: pointer;
}

.B_box img,
.B_box h1 {
    padding: 15px 20px 15px 0px;
    margin: 0;
    font-family: "함초롬바탕 확장";
}

.B_box p {
    margin: 0;
    padding: 15px 0px 15px 20px;
}

#news {
    background-color: aliceblue;
    width: 870px;
    height: 860px;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.n_input {
    position: absolute;
    z-index: 0;
    padding-top: 850px;
}

.l_n_box {
    width: 830px;
    height: 750px;
    position: absolute;
    z-index: 3;
}

.l_n_box h4 {
    color: #163073;
    padding: -3px 20px;
    font-size: 25px;
}

.l_n_box * {
    text-align: left;
    font-family: "함초롬바탕 확장";
    font-size: 17px;
}

.l_n_box p a b {
    color: red;
    font-size: 30px;
}

.n_a {
    position: relative;
    display: flex;
}

.n_a img {
    width: 280px;
    height: 280px;
    padding: 20px 0;
}

.n_img {
    width: 300px;
    margin-top: 50px;
}

#in_img {
    width: 600px;
}


.v_box {
    box-shadow: 8px 4px 10px 1px rgb(202, 202, 202);
    width: 300px;
    height: 300px;
    background-color: #163073;
    background-image: radial-gradient(rgb(74, 5, 184), rgb(10, 239, 255));
}

.v_box img {
    width: 85px;
    height: 85px;
    padding: 50px;
}

.v_box>p {
    font-size: 22px;
    padding: 15px;
}

#visit {
    width: 1200px;
    display: flex;

}



#explore {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    color: aliceblue;
}

/* #explore>.see {} */

#explore>.see a {
    color: aliceblue;
}

#explore>p:nth-of-type(1) {
    text-align: left;
    padding: 10px 0 0 50px;

    font-size: 20px;
}

#explore>p>span {
    font-size: 15px;
}

#explore>p:nth-of-type(2) {
    text-align: right;
    font-size: 25px;
    padding: 10px 50px 5px 0;
}


#slid_r img:hover {
    opacity: 0.9;
}


#explore button {
    position: absolute;
    z-index: 5;
}

#explore button img {
    width: 35px;
    height: 60px;

}


/* #bVideo {
    position: absolute;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
} */

#back {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 1000px;
    display: block;

}

#slid_r img {
    width: 90px;
    height: 90px;
    margin: 15px;
}

#slid_r a>img {
    box-sizing: content-box;
    border-radius: 100px;
    /* box-shadow: 1px 1px 12px 1px rgb(202, 202, 202); */
    box-shadow: -1px 5px 13px 6px rgb(2, 14, 77);

}

#prev>img {
    box-shadow: -1px 7px 15px 5px rgb(6, 23, 96);
}

#next>img {
    box-shadow: 7px 9px 16px 5px rgb(6, 23, 96);
}


#prev {
    top: 130px;
    left: 20px;
}

#slid_r {
    width: 600px;
    display: flex;
    margin: 26px 20px 380px 77px;
    overflow: hidden;
    position: relative;
}

#show {
    width: 1800px;
    display: flex;
}



#sr {
    width: 960px;
    float: right;
    position: relative;
    overflow: hidden;
    margin-right: 100px;
    padding: 20px;
}

#slid img {
    width: 200px;
    height: 300px;
    margin: 20px;
    box-shadow: 1px 1px 15px 1px rgb(202, 202, 202);
    box-shadow: 4px 4px 15px 4px rgb(5, 20, 85);

}

#slid {
    width: 1960px;
    float: right;
    position: relative;
}

#next {
    padding: 40px;
    right: 20px;
    bottom: -250px;
}




#ex {
    margin-top: 10px;
    width: 100%;
    height: 115%;
    background-image: linear-gradient(#0026d7, #0029b8, rgb(242, 242, 242));
}

#e1 img {
    width: 580px;
    height: 400px;
    padding: 10px;
}

#e1 {
    padding-top: 30px;
    width: 1280px;
    display: flex;
    flex-wrap: nowrap;
}

.e {
    width: 600px;
}

.e p {
    font-size: 15px;
}

.hide>p:nth-of-type(1) {
    font-size: 20px;
}

.hide {
    position: relative;
    z-index: 6;
    opacity: 0;
    margin-top: -370px;
    background: rgb(202, 202, 202, 0.35);
    width: 500px;
    height: 300px;
    color: aliceblue;
}

.e:hover .hide {
    opacity: 1;
}

#e2 {
    width: 1280px;
    height: 460px;
    display: flex;
    flex-wrap: wrap;
   
    padding-top: 120px;
}

.e2_box {
    overflow: hidden;
    width: 295px;
    height: 420px;
}

#e2 img {
    width: 295px;
    height: 320px;

}

.e2_box h5 {
    position: relative;
    width: 295px;
    height: 80px;
    background-color: aliceblue;
    color: #163073;
}

.e2_box a img:hover {

    opacity: 0.8;
    transform: scale(1.15);
}


#research {
    margin-top: -50px;
    height: 800px;
    display: flex;
    align-items: flex-end;
}

#research img {
    position: relative;
    z-index: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

#hide {
    position: absolute;
    left: 30px;
    margin-bottom: 390px;
    z-index: 4;
    opacity: 0.05;
    width: 70%;
    height: 60%;
    padding: 50px;
    font-family: "함초롬바탕4 확장";
    font-size: 15px;
}

#research:hover #hide {
    opacity: 1;
}

/*#hide {
    opacity: 1;
} */



#around_local {
    width: 100%;
    text-align: left;
}

#around_map img {
    padding: 0 10px 50px 10px;
    width: 95%;
    height: 95%;
}


#around {

    display: flex;
    padding: 50px;
}

#around a:hover {
    opacity: 0.9;
    transform: scale(1.01);
}

#af1 {
    width: 700px;
}

#af2 {
    width: 660px;
    height: 405px;
    display: flex;
    justify-content: space-between;
}

.af_box {
    margin: 0;
}

.af_box img {
    width: 295px;
    height: 260px;
    margin-top: 40px;
}

.textbox {
    width: 295px;
    height: 120px;
    background-color: aliceblue;
    margin-top: -36px;
}

#af3 {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.af3_box {
    padding: 10px;
}

.af3_box a {
    width: 300px;
    height: 100px;
    display: flex;
    color: #163073;
}

.af3_box img {
    width: 90px;
    height: 90px;
}

.af3_box h6 {
    width: 200px;
    height: 90px;
    text-align: left;
    font-size: 13px;
    padding: 5px 15px;
    margin: 10px;
    font-family: "HY울릉도S";
}

#map {
    padding: 100px 0 0 0;
}

iframe {
    width: 100%;
}



header,
footer {
    width: 100%;
    height: 100%;
    font-family: 'HY울릉도B';
    background-color: rgb(1, 2, 36);
    color: aliceblue;
    text-align: center;
    box-sizing: border-box;

}

footer {
    padding: 60px;
}

#header_top {
    width: 100%;
    height: 90px;
    background-color: rgb(1, 2, 36);
    color:
        aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#header_top>h1 {
    font-family: 'HY울릉도B';
    width: 400px;
    margin: 0px;
}

#h_m {
    width: 160px;
    height: 90px;
    margin: 0;
}

#h_m>.B_box {
    height: 90px;
}

#header_top>h1 a span {
    font-size: 24px;
    font-family: "HY울릉도S";
    opacity: 0.9;
}

footer a:hover,
header h1:hover,
header p:hover,
header img:hover,
header a:hover {
    opacity: 0.75;
}


/* .menu {
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.menu span {
    font-size: 30px;
}

.menu>img {
    padding: 5px 0;
} */





header button:hover {
    opacity: 0.5;
    color: #0F0FA4;
    background-color: aliceblue;
}

footer button:hover {
    color: #0F0FA4;
    background-color: aliceblue;
}

footer button {
    font-size: 15px;
    width: 180px;
    height: 50px;
    background-color:
        #0F0FA4;
    color: aliceblue;
    padding: 10px;
    margin: 40px auto;
}

.f_ar {
    width: 100%;
    display: flex;
}

.inme {
    font-family: "HY울릉도S";
    margin: -15px 10px;
}

.inme li {
    font-size: 12.5px !important;
    padding: 2px;
}

.f_menu {
    padding: 20px 0 40px 0px;
    background-color: rgb(1, 2, 36);
    display: flex;
}




.f_menu ul {
    width: 240px;
    padding: 10px;
}


#sns {
    width: 250px;
    height: 100px;
    padding: 30px;
}

#sns img {
    padding: 2px;
}

footer>h6 {
    font-family: "HY울릉도S";
}






































@media screen and (max-width: 600px) {


    .see {
        right: 20px !important;
    }


    h3,
    #title_box1,
    .v_box {
        text-align: left;
    }

    h3 {
        width: 100%;
    }

    h3>span {
        margin-left: 100px;
    }

    #header_top {
        height: 108px;
    }

    #header_top>h1 a span {
        font-size: 15px;
        opacity: 0.9;
    }

    #header_top>h1 {
        width: 170px;
        margin: 0 auto;
    }

    #h_m {
        width: 100px;
    }

    .B_box {
        margin: 0;
        flex-direction: column;
        align-content: space-around;
        width: 100px !important;
        height: 108px;
        color: aliceblue;
        cursor: pointer;
        position: absolute;
        right: 0;
    }


    .B_box img {
        padding: 0;
        width: 25px;
    }

    .B_box p {
        margin-bottom: -20px;
        padding: 0;
        font-size: 14px;
    }

    .B_box h1 {
        padding: 0;
        font-size: 27px;
    }



    #title_box {
        width: 100%;
        margin: 0 auto;
    }

    #news {
        width: 100%;
        height: 1020px;
        padding: 0;
    }

    #title_box1 {
        width: px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #title_box1>p {
        padding: 10px 0 0 15px;
        width: 300px;
        text-align: left;
        margin: 0;
    }

    #title_box1>p:nth-of-type(2) {
        padding: 0px 10px 10px 40px;
        width: 360px;
    }

    .n_input {
        padding-top: 970px;
        display: flex;
    }

    input {
        padding: 5px;
    }

    .l_n_box {
        width: 93%;
    }


    .n_a img {
        display: inline;
        width: 180px;
        height: 180px;
        padding: 10px 0;
    }

    #in_img {
        display: inline;
        width: 380px;
        padding: 10px;
    }

    .n_img {
        width: 185px;
    }

    .n_a:nth-of-type(4) {
        display: flex;
        flex-direction: column;
    }


    #visit {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .v_box {
        width: 320px;
        height: 160px;
        padding: 15px;
        margin: 20px auto;
    }

    .v_box img {
        width: 70px;
        height: 70px;
        padding: 12px;
    }

    .v_box p {
        font-size: 20px;
        color: aliceblue;
        padding: 15px;
    }

    #explore {
        width: 100%;
        height: 100%;
    }

    #explore>.see {
        padding: 30px 20px 100px 0 !important;
    }

    #explore p {
        padding: 0 20px 10px 20px !important;
    }



    #slid_r {
        width: 342px;
        margin: 30px 0px 388px 68px;
    }

    #slid_r img {
        margin: 12px;
    }

    #prev {
        left: 10px;
    }

    #slid img {
        width: 300px;
        height: 300px;
        margin: 11px;

    }

    #sr {
        width: 316px;
        height: 350px;
        padding: 10px;

    }

    #slid {
        width: 2614px;

    }

    #next {
        padding: 10px;
        right: 15px;
        bottom: -215px;
    }


    .ex {
        text-align: center;
    }

    #e1 {
        height: 800px;
        width: 100%;

        flex-direction: column;
        padding-top: 190px;
    }

    .e {
        width: 100%;
        height: 350px;
    }

    #e1 img {
        width: 90%;
        height: 280px;
        padding: 0px;
    }

    .hide {
        width: 80%;
        height: 70%;
        margin-top: -270px;
    }

    #e2 {
        width: 100%;
        height: 100%;
        margin-top: -150px;
    }







    #around {
        padding: 0;
        width: 100%;
        margin: 5px auto;
        flex-direction: column;
    }

    #af1 {
        width: 100%;
        height: 1200px;
        flex-direction: column;
        margin: 5px auto;
    }

    #af2 {
        width: 100%;
        flex-direction: column;
    }

    #kd {
        width: 90%;
        height: 30%;
    }


    #af2 {
        width: 100%;
        flex-direction: column;
        margin: 5px auto;
    }

    .af_box .textbox #af3 {
        width: 100%;
    }






    #researchstudy>.see,
    #around_map>.see {
        margin-top: -30px;
    }



    .f_ar {
        width: 100%;
        display: flex;
        margin: 0px;
    }

    .f_menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    /* ul{margin: 5px;}
    li {width: 400px; } */




}

@media screen and (min-width: 600px) and (max-width:1199px) {

    .ex,
    #visit,
    #around {
        width: 100%;
    }

    ul,
    li {
        width: 200px;
    }

    .B_box {
        margin: 0;
        flex-direction: column;
        align-content: space-around;
        width: 120px !important;
        height: 108px;
        color: aliceblue;
        cursor: pointer;
        position: absolute;
        right: 0;
    }

    .B_box img {
        padding: 0;
        width: 25px;
    }

    .B_box p {
        margin-bottom: -20px;
        padding: 0;
        font-size: 14px;
    }

    .B_box h1 {
        padding: 0;
        font-size: 27px;
    }

    #news_box {
        width: 100%;
        background-color: aliceblue;
    }

    #title_box {
        width: 85%;
    }

    #title_box1 {
        width: 100%;
    }

    #news {
        width: 85%;
        height: 920px;
        padding: 0;
    }

    .l_n_box {
        width: 80%;
    }

    #title_box1>p:nth-of-type(2) {
        padding: 0px 10px 10px 40px;
        width: 400px;
    }

    #slid_r {
        width: 480px;
    }

    #sr {
        width: 720px;
    }

    #e1 {
        height: 800px;
        width: 100%;
        flex-direction: column;
        padding-top: 100px;
    }

    #e1 img {
        padding: 50px 0;
    }

    #e2 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
       
    }

    #researchstudy {
        margin-top: 50px;
    }

    #around {
        padding: 0;
        margin: 5px auto;
        flex-direction: column;
    }

    .f_menu {
        flex-wrap: wrap;
        width: 100%;
    }

    ul,
    li {
        width: 220px;
    }

    .f_ar {
        width: 100%;
    }

}



@media screen and (min-width: 1200px) {

    #f_ar {
        display: flex;
    }
}