@charset "utf-8";

* { 
    margin: 0 auto;
    border: none;
    text-decoration: none;
    font-family: "HY울릉도M";
    text-align: center;
    vertical-align: middle;
}

ul,
li {
    list-style-type: none;
    font-family: "HY울릉도M";
    font-size: 17px;
    padding: 5px;
    text-align: left;
}

li:nth-of-type(1) {
    font-size: 22px;
    padding: 8px 0;
    font-weight: bold;
}

#researchstudy,
#map,
#around_map {width: 100%;}




a,
img {
    color: aliceblue;
    cursor: pointer;
}


#main {
    width: 100%;
    height: 680px;
}

#main img {
    width: 100%;
    height: 100%;
}

/* #main .m_button {
    width: 100%;
    height: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
} */

h3 {
    letter-spacing: 15px;
    padding: 120px 0px;
    font-size: 35px;
    color: #163073;
    margin-top: 130px;
}

h3>img {
    width: 29px;
    height: 29px;
    padding: 0 22px;
}

.see {
    margin: 0;
    right: 0;
    font-size: 22px;
    text-align: right;
    padding: 25px 50px 20px 0px;
}

.see a {
    width: 160px;
    color: #0F0FA4;
    padding: 11px 3px 2px 3px;
    text-align: right;
    text-decoration: underline gold 3px;
}

.see a:hover {

    background-color: gold;
    color: aliceblue;
}


#title_box {
    width: 950px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -35px;
    box-shadow: 8px 4px 10px 1px rgb(201, 201, 201);
    background-color: aliceblue;
}

#title_box1 p {margin: 0;
    font-size: 35px;
    padding: 10px;
    letter-spacing: 10px;
    background-color: aliceblue;
}

#title_box1>p:nth-of-type(1) {width:250px; padding: 10px;}
 
#title_box1>p:nth-of-type(2) {width:550px;
    font-family: "함초롬바탕 확장";
    font-size: 14px;
    letter-spacing: 3px;
    cursor: pointer;
    width: 50%; 
}

#title_box1 {
    width: 800px;
    height: 108px;
    background-color: aliceblue;
    color: #163073;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}

.B_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    height: 108px;
    background-color: rgb(1, 2, 36);
    color: aliceblue;
    cursor: pointer;
}

.B_box img,
.B_box h1 {
    padding: 15px 20px 15px 0px;
    margin: 0;
    font-family: "함초롬바탕 확장";
}

.B_box p {
    margin: 0;
    padding: 15px 0px 15px 20px;
}

#news {
    background-color: aliceblue;
    padding: 40px;
    display: flex;
    justify-content: center;

}

/* input [type=radio] {
    padding: 5px;
    opacity: 0;
} */

.n_input {
    position: absolute;
    z-index: 0;

}

.l_n_box {

    position: absolute;
    z-index: 3;
}

.l_n_box h4 {
    color: #163073;
    padding: -3px 20px;
    font-size: 25px;
}

.l_n_box * {
    text-align: left;
    font-family: "함초롬바탕 확장";
    font-size: 17px;
}

.l_n_box p a b {
    color: red;
    font-size: 30px;
}

.n_a {
    position: relative;
    display: flex;
}

.n_a img {
    width: 280px;
    height: 280px;
    padding: 20px 0;
}

.n_img {
    width: 300px;
    margin-top: 50px;
}

#in_img {
    width: 600px;
}

.v_box img {
    width: 85px;
    height: 85px;
    padding: 50px;
}

.v_box>p {
    font-size: 22px;
    padding: 15px;
}


.v_box {
    box-shadow: 8px 4px 10px 1px rgb(202, 202, 202);
    width: 300px;
    height: 300px;
    background-color: #163073;
    background-image: radial-gradient(rgb(74, 5, 184), rgb(10, 239, 255));
}

#visit {
    display: flex;
}


#explore {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    color: aliceblue;
}

#explore>.see a {
    color: aliceblue;
}

#explore>p:nth-of-type(1) {
    text-align: left;
    padding: 10px 0 0 50px;
    font-size: 20px;
}

#explore>p>span {
    font-size: 15px;
}

#explore>p:nth-of-type(2) {
    text-align: right;
    font-size: 25px;
    padding: 10px 50px 5px 0;
}

#slid_r img:hover {
    opacity: 0.9;
}


#explore button {
    position: absolute;
    z-index: 5;
}

#explore button img {
    width: 35px;
    height: 60px;

}


/* #bVideo {
    position: absolute;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    display: block;
} */

#back {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 1250px;
    display: block;
}

#slid_r img {
    width: 90px;
    height: 90px;
    margin: 15px;
}

#slid_r a>img {
    box-sizing: content-box;
    border-radius: 80px;
    /* box-shadow: 1px 1px 12px 1px rgb(202, 202, 202); */
    box-shadow: -1px 5px 13px 6px rgb(2, 14, 77);

}

#prev>img {
    box-shadow: -1px 7px 15px 5px rgb(6, 23, 96);
}

#next>img {
    box-shadow: 7px 9px 16px 5px rgb(6, 23, 96);
}


#prev {
    top: 130px;
    left: 20px;
}

#slid_r {
    height: 130px; 
    display: flex;
    margin: 26px 20px 400px 77px;
    overflow: hidden;
    position: relative;
}

#show {
    display: flex;
}



#sr {

    float: right;
    position: relative;
    overflow: hidden;
    margin-right: 130px;
}

#slid img {
    width: 220px;
    height: 300px;
    margin: 20px;
    /* box-shadow: 1px 1px 15px 1x rgb(202, 202, 202); */
    box-shadow: 4px 4px 15px 4px rgb(5, 20, 85);

}

#slid {
    width: 2120px;
    float: right;
    position: relative;
}

#next {
    padding: 40px;
    right: 20px;
    bottom: -240px;
}


#ex {
    margin-top: 350px;
    width: 100%;
    height: 115%;
    background-color: #0026d7;
    background-image: linear-gradient(#0026d7, #0029b8, rgba(242, 242, 242, 0.1));
}

#e1 img {
    width: 580px;
    height: 400px;
    padding: 10px;
}

#e1 {
    padding-top: 180px;
    display: flex;
    flex-wrap: nowrap;
}

.e {
    width: 600px;
}

.e p {
    font-size: 15px;
}

.hide>p:nth-of-type(1) {
    font-size: 20px;
}

.hide {
    position: relative;
    z-index: 6;
    opacity: 0;
    margin-top: -370px;
    background: rgb(202, 202, 202, 0.35);
    width: 500px;
    height: 300px;
    color: aliceblue;
}

.e:hover .hide {
    opacity: 1;
}

#e2 {
    height: 460px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 120px;
}

.e2_box {
    overflow: hidden;
    width: 295px;
    height: 420px;
}

#e2 img {
    width: 295px;
    height: 320px;

}

.e2_box h5 {
    position: relative;
    width: 295px;
    height: 80px;
    background-color: aliceblue;
    color: #163073;
}

.e2_box a img:hover {

    opacity: 0.8;
    transform: scale(1.15);
}




#researchstudy {
    margin-top: -40px;
}


#research {
    margin-top: -100px;
    height: 880px;
    display: flex;
    align-items: flex-end;
}

#research img {
    height: 780px;
    z-index: 0;
    padding: 0 0 0 12px;
    width: 80%;
    position: absolute;
}

#researchstudy>.see {
    margin-top: -15px;
}

#hide {
    position: relative;
    margin-bottom: 100px;
    z-index: 4;
    opacity: 0.05;
    width: 48%;
    height: 55%;
    padding: 40px;
    font-family: "함초롬바탕4 확장";
    font-size: 15px;
}

#research:hover #hide {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
}




#around_local {
    width: 100%;
    text-align: left;
}

#around_map img {
    padding: 0 10px 0px 10px;
    width: 85%;
    height: 85%;
}


#around {
    display: flex;
    padding: 80px 0 0 0;
}

#around a:hover {
    opacity: 0.9;
    transform: scale(1.01);
}

#af1 {
    width: 700px;
}

#af2 {
    width: 660px;
    height: 405px;
    display: flex;
    justify-content: space-between;
}
#kd {width: 680px;}

#af2 {width: 680px;}

.af_box {
    margin: 0;
}

.af_box img {
    width: 295px;
    height: 260px;
    margin-top: 40px;
}

.textbox {
    width: 295px;
    height: 120px;
    background-color: aliceblue;
    margin-top: -36px;
}

#af3 {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.af3_box {
    padding: 10px;
}

.af3_box a {
    width: 300px;
    height: 100px;
    display: flex;
    color: #163073;
}

.af3_box img {
    width: 90px;
    height: 90px;
}

.af3_box h6 {
    width: 150px;
    height: 90px;
    text-align: left;
    font-size: 14px;
    padding: 5px 15px;
    margin: 10px;
    font-family: "HY울릉도S";
}

#map {
    padding: 100px 0 0 0;
}

#map iframe {
    width: 100%; height: 680px;
}








































